[package]
name = "rbot"
version = "0.2.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rbot"
crate-type = ["cdylib", "rlib"]

[dependencies]

chrono = {version= "*"}

strum_macros = {version  = "0.25.2"}
strum = { version = "0.25.0", features = ["derive"] }

tokio = { version = "1", features = ["full"] }

rusqlite = {version = "0.30.0", features=["bundled"]}


serde = {version="1.0"}
serde_json = {version = "1.0"}
serde_derive = {version = "1.0"}

log = {version = "0.4"}
env_logger = {version = "0.10.0"}

directories= "5.0.1"


#polars = {version="0.33.2"}
#polars-core = {version = "0.33.2", features=["ndarray", "temporal", "dtype-time", "object"]}
#polars-lazy = {version="0.33.2", features=["dynamic_group_by"]}
#polars-time = {version="0.33.2"}
#pyo3-polars = {version="0.7.0"}

polars = {version="0.35"}
polars-core = {version = "0.35", features=["ndarray", "temporal", "dtype-time", "object", "round_series"]}
polars-lazy = {version="0.35", features=["dynamic_group_by", "round_series"]}
polars-time = {version="0.35"}
pyo3-polars = {version="0.9"}



ndarray = {version="0.15"}
numpy = {version="0.20"}

reqwest = {version = "0.11", features=["blocking", "gzip"]}
futures = {version="0.3"}
flate2 = {version="1.0.24"}

csv = {version="1.2.2"}
zip = {version="0.6.6"}

tempfile={version="3.8.0"}

openssl = { version = "0.10.59", features = ["vendored"] }

url = {version="2.4.0"}

rust_decimal = {version="1.32.0"}
rust_decimal_macros = {version="1.32.0"}

hmac = {version="0.12.1"}
sha2 = {version="0.10.7"}
hex = {version="0.4.3"}

tungstenite = {version="0.20.1", features=["native-tls"]}

crossbeam-channel = {version="0.5.8"}

anyhow = {version="1.0.75"}
thiserror = {version="1.0.50"}

 [dependencies.pyo3]
 version = "0.20.0"
  features = ["rust_decimal", "macros", "extension-module"]

 [features]
 extension-module = ["pyo3/extension-module"]


